* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

main {
    display: inline-block;

}

.logo {
    width: 600px;
    height: auto;
    margin-top: 246px;
    margin-left: 121px;
}

header {
    width: 87;
    height: 20;
    margin-top: 47px;
    margin-left: 42px;
}

a {
    padding: 21px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.88px;
    text-align: center;
    color: #17233D;
    cursor: pointer;
}

a:hover {
    font-size: 20px;
    transition: 0.6s;
    color: #1e2d4f
}

a:active {
    color: #4b76da;
    transition: 1ms;
}

.button-header {
    width: 124px;
    height: 51px;
    margin-left: 21px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border: 1px solid #4CB538;
    background: #6FBF44;
    border-radius: 7px;
}

.button-header:hover {
    transition: 0.4s;
    width: 126px;
    height: 53px;
    background: #559b2f;
}

.button-header:active {
    transition: none;
    background: #69d553;
}

section {
    margin-left: 50px;
    display: inline-block;
    align-items: center;
    text-align: justify;
    width: 493px;
    height: 99px;
}

h1 {
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    right: 164px;
    width: 520px;
    margin-bottom: 60px;
}

p {
    width: 493px;
    height: 99px;
    color: #4B505A;
}

.button-section {
    width: 150px;
    height: 27px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: #FFFFFF;
}

.button-section:hover {
    transition: 0.5s;
    color: #7dd74c;
    font-size: 19px;
}

.button-section:active {
    color: #559b2f;


}
form {
    width: 300px;
    height: 235px;
    border: 1px solid #6fbf44;
    margin: 15px;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    justify-items: center;
    background: radial-gradient(circle, rgba(63,251,126,1) 31%, rgba(70,252,241,1) 63%);
    position: fixed;
    top:30%; 
    left:50%;
    transform: translateX(-50%);

}

.titulo-formulario{
    font-size: 15px;
    color: #161A49;
    text-shadow: #161A49 0.2em 0.2em 0.6em
}

.input-caixa-de-formulario {
    margin-top: 10px;
    width: 270px;
    padding: 5px;
    border-color: #6fbf44;
    border-radius: 5px;
    outline-color: #559b2f;
    
}

.input-peoblemas {
    margin-top: 10px;
    height: 60px;
    width: 270px;
    padding: 10px;
    border-color: #6fbf44;
    border-radius: 5px;
    outline-color: #559b2f;

}

.botão-formulario {
    margin-left: 80px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background:#6fbf44;
    border-radius: 5px;
}

/* .marcara-form {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(115,207,158,0.7232142857142857) 6%, rgba(37,202,203,0.5999649859943977) 49%, rgba(115,207,158,0.7344187675070029) 96%);

} */

/* top:30%; 
   left:50%;
transform: tranlatex (-50%); */
